Repository effector/root: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ],
  "*.md": ["prettier --write"]
}

1.0.0
  package.json
Due: prettier --write --parser json

feat: migrate to effector org
  package.json
Due: prettier --write --parser json

Update README.md
  README.md
Due: prettier --write

feat: add compat
  .eslintrc.json
  README.md
  compat.d.ts
  compat.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

1.1.0
  package.json
Due: prettier --write --parser json

create workflow to publish package to npm
  .github/workflows/publish.yml
Due: none

explicitly clarify that package will be public
  .github/workflows/publish.yml
Due: none

ci(publish): add id for yarn cache step
  .github/workflows/publish.yml
Due: none

ci(publish): add id for publish step
  .github/workflows/publish.yml
Due: none

add exports field to package.json
  package.json
Due: prettier --write --parser json

feat: add macro support
  .eslintrc.json
  README.md
  __snapshots__/macro.test.js.snap
  macro.d.ts
  macro.js
  macro.test.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

1.2.0
  package.json
Due: prettier --write --parser json

ci(publish): fix name of job
  .github/workflows/publish.yml
Due: none

ci(publish): allow to manually dispatch publish
  .github/workflows/publish.yml
Due: none

feat: remove babel traverse from dependencies
  macro.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: remove dependency on babel
  __snapshots__/macro.test.js.snap
  macro.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

refactor(macro): rename babel plugin name
  macro.js
Due: eslint --fix, prettier --write

v1.3.0
  README.md
  package.json
Due: prettier --write, prettier --write --parser json

Update README
  README.md
Due: prettier --write

chore: allow effector 22 as peer dependency
  package.json
Due: prettier --write --parser json

v1.4.0
  package.json
Due: prettier --write --parser json

Archive warning
  README.md
Due: prettier --write
